@model BNP.Teste.Service.DTO.ListarMovimentoResponse

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .containerform {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        text-align: right;
        grid-gap: 10px;
    }

    .boxDes {
        grid-column: 2/span 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .buttonFlex {
        display: flex;
        grid-gap: 10px;
        justify-content: flex-end;
        grid-column: 2/span 3;
    }

    .disabledItem {
        cursor: not-allowed;
        background-color:gainsboro;
    }
    .text-danger-font{
        font-size:8.8px;
    }

    .alert{
        display:none;
    }

</style>

<h1>Movimentos Manuais</h1>
<form asp-action="Create">
    <fieldset style="min-width:500px; max-width:500px">
        <legend> Movimento</legend>

        <div class="containerform">
            <div><label asp-for="Movimento.Mes" class="control-label"></label></div>
            <div>
                <input asp-for="Movimento.Mes" class="form-control form-control-sm" />
                <span asp-validation-for="Movimento.Mes" class="text-danger text-danger-font"></span>
            </div>

            <div><label asp-for="Movimento.Ano" class="control-label"></label></div>
            <div>
                <input asp-for="Movimento.Ano" class="form-control form-control-sm" />
                <span asp-validation-for="Movimento.Ano" class="text-danger text-danger-font"></span>
            </div>

            <div><label asp-for="Movimento.CodProduto" class="control-label"></label></div>
            <div>
                <Select id="cbProduto" asp-for="Movimento.CodProduto" asp-items="Model.Produtos.Select(s=> new SelectListItem(){Text =  s.Descricao, Value=s.Codigo })" onchange="CarregarProdutoCosif();" class="form-control form-control-sm"></Select>
                <span asp-validation-for="Movimento.CodProduto" class="text-danger text-danger-font"></span>
            </div>

            <div><label asp-for="Movimento.CodCosif" class="control-label"></label></div>
            <div>
                <select id="cbProdutoCosif" asp-for="Movimento.CodCosif" class="form-control form-control-sm"></select>
                <span asp-validation-for="Movimento.CodCosif" class="text-danger text-danger-font"></span>
            </div>

            <div><label asp-for="Movimento.Valor" class="control-label"></label></div>
            <div>
                <input type="text" asp-for="Movimento.Valor" class="form-control form-control-sm" id="Valor">
                <script>
                    $(document).ready(function () {
                        $('#Valor').inputmask('decimal', {
                            rightAlign: true,
                            'digits': 2,
                        });
                    })
                </script>
				<!--input id="Movimento.Valor" asp-for="Movimento.Valor" class="form-control form-control-sm" onkeypress="" onkeyup="" /-->
                <span asp-validation-for="Movimento.Valor" class="text-danger text-danger-font"></span>
            </div>

            <div></div>
            <div></div>

            <div><label asp-for="Movimento.Descricao" class="control-label"></label></div>
            <div class="boxDes">
                <textarea asp-for="Movimento.Descricao" class="form-control form-control-sm" maxlength="50"></textarea>
                <span asp-validation-for="Movimento.Descricao" class="text-danger"></span>
            </div>

            <div class="buttonFlex">
                <div><input id="btLimpar" type="button" value="Limpar" onclick="LimparCampos()" class="btn btn-info" /></div>
                <div><input id="btNovo" type="button" value="Novo" onclick="HabilitarDesbilitarButon('False');" class="btn btn-secondary" /></div>
                <div><input id="btIncluir" type="submit" value="Incluir"  class="btn btn-primary" /></div>
            </div>

        </div>
    </fieldset>
</form>

<fieldset>
    <legend> Lista</legend>
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Mes
                </th>
                <th>
                    Ano
                </th>
                <th>
                    Cod Produto
                </th>
                <th>
                    Descricao Produto
                </th>
                <th>
                    Num Lancamento
                </th>
                <th>
                    Descricao
                </th>
                <th>
                    Valor
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Movimentos != null)
            @foreach (var item in Model.Movimentos)
            {
                <tr>
                    <td>
                        @item.Mes.ToString()
                    </td>
                    <td>
                        @item.Ano.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoProduto)
                    </td>
                    <td>
                        @item.NumLancamento.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</fieldset>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div id="grdlistaMovimento">
    </div>