@model IEnumerable<WafSistemas.GerenciadorCliente.Service.DTO.Cliente>

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>
<hr />
<p>
    <a asp-action="Create"><span><i class="bi bi-plus-square"></i> Incluir</span></a>
</p>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLiberação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @{ switch (item.Status)
                    {
                        case 0:
                            <i class="bi bi-file-x-fill text-danger" data-toggle="tooltip" data-placement="left" title="Bloqueado"></i>
                            break;
                        case 1:
                            <i class="bi bi-check-circle-fill text-success" data-toggle="tooltip" data-placement="left" title="Liberado"></i>
                            break;
                        case 2:
                            <i class="bi bi-exclamation-triangle-fill text-warning" data-toggle="tooltip" data-placement="left" title="Pendente"></i>
                            break;
                        case 3:
                            <i class="bi bi-currency-exchange text-dark" data-toggle="tooltip" data-placement="left" title="Inadimplente"></i>
                            break;
                        case 4:
                            <i class="bi bi-gift-fill text-primary" data-toggle="tooltip" data-placement="left" title="Cortesia"></i>
                            break;
                        case 5:
                            <i class="bi bi-award-fill text-info" data-toggle="tooltip" data-placement="left" title="Vip"></i>
                            break;
                        case 6:
                            <i class="bi bi-incognito text-secondary" data-toggle="tooltip" data-placement="left" title="Teste"></i>
                            break;
                        case 9:
                            <i class="bi bi-file-earmark-fill text-primary" data-toggle="tooltip" data-placement="left" title="Cadastrado"></i>
                            break;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td class="col-4">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLiberação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                <a class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="left" title="Alterar" href="@Url.Action("Edit", "Cliente",new { id = item.IdCliente })" ><i class='bi bi-pencil-square'></i></a>
                <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="left" title="Detalhe" href="@Url.Action("Details", "Cliente",new { id = item.IdCliente })" ><i class='bi bi-search'></i></a>
                <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="left" title="Apagar" href="@Url.Action("Delete", "Cliente",new { id = item.IdCliente })" ><i class='bi bi-x-circle'></i></a>
            </td>
        </tr>
            }
    </tbody>
</table>
